{% extends 'shop_app/base.html' %}
    {% block title%}
            Groups list
    {% endblock %}

    {% block body%}
        <h1>Product <strong>{{ product.name }}</strong></h1>
        <div>
            <div>
                Descript: <em> {{ product.description }} </em>
            </div>
            <div>
                Price: {{product.price  }}
            </div>
            <div>
                Discount: {{ product.discount }}
            </div>
            <div>  <p> <a href="{% url "shop_app:update_product_n" product.pk  %}"> Править </a> </p> </div>
            <div>  <p> <a href="{% url "shop_app:delete_product_n" product.pk  %}"> Удалить </a> </p> </div>
            <div>
                <a href="{% url 'shop_app:product_list_n' %}">Назад</a>
            </div>

        </div>
    {% endblock %}