{% extends 'shop_app/base.html' %}
        {% block title%}
     Groups list
        {% endblock %}

        {% block body%}
            <h1>Список Групп</h1>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit"> Добавить</button>

                </form>
            </div>
            {% for group in groups %}
               <li>
               {{ group }}
                    <ul>
                       {% for gp in group.permissions.all %}
                            <li>
                                {{ gp.name }}
                                (<code> gp.codename</code>)
                            </li>
                       {% endfor %}
                    </ul>
               </li>

            {% endfor %}



        {% endblock %}