{% extends 'shop_app/base.html' %}
        {% block title%}
     Список Заказов
        {% endblock %}

        {% block body%}
            <h1>Список Заказов</h1>
            {% if orders %}
                {% for order in orders %}
                    <div>
                        <p>Адрес Доставки: {{ order.delivery_adress }}</p>
                        <p>Промокод: {% firstof order.promocode  'Скидки нет'%} </p>
                        <p>Заказчик: {% firstof order.user.first_name order.user.username %}  </p>
                        <p>Список заказов:</p>
                            <ul>
                                {% for prod in order.products.all %}
                                    <li>{{ prod.name }} - {{ prod.price }}$ </li>
                                {% endfor %}
                            </ul>

                    </div>
                {% endfor %}

            {% else %}

                (ПУСТО)

            {% endif %}




        {% endblock %}