{#product_form_tmplate#}
{% extends 'shop_app/base.html' %}
{% block title%}

    Добавить Продукт

{% endblock %}

{% block body%}
    <h1> Создание продукта </h1>
    <div>
                {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <strong>{{ error|escape }}</strong>
        {% endfor %}
    {% endfor %}
{% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit"> Создать </button>
        </form>
    </div>

        <div>
        <a href="{% url 'shop_app:product_list' %}"> Список продуктов </a>
        </div>


{% endblock %}